.certificate {
    width: 800px;
    height: 600px;
    padding: 20px;
    text-align: center;
    border: 10px solid #787878;
    margin: auto;
}

.certificate h1 {
    font-size: 50px;
    font-weight: bold;
    color: #787878;
}

.participant-name {
    font-size: 30px;
    font-weight: bold;
    color: #000;
    margin: 20px 0;
}

.signature {
    margin-top: 40px;
}
